body{
    background-color: gray;
}
.navbar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: auto;
}


.nav-image{
    align-items:flex-start;
}

.nav-image img{
    width: 80px;
    height: auto;
    animation: spin 5s linear infinite;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}s
.intro
a {
    transition: color 3s ease, transform 0.3s ease;
}

a:visited{
    color: aqua;
}

a:hover{
    color: coral;
    transform: scale(1.1);
}

.personal-gallery{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.personal-gallery img{
    height: auto;
    width: 500px;
    border-radius: 10%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.6s;
    transition: transform 0.3s ease;
}
.gallery-container{
    display: flex;
    gap: 1 rem;
    align-items: flex-start;
    flex-direction: row;
}
.intro{
    flex: 1;
    font-family: serif;
    color: blue;
}

#work-experience h2{
    color: blue;
}

.projects{
    background-color: rgba(25, 25, 50, 0.750);
    color:aqua ;
}
@keyframes fadeIn{
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}